/* video box */
#paneBackground {
    background-color: #333333;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

#pane {
    position: absolute;
    text-align:center;
    z-index:102;
    overflow: auto;
    background-color: #ccc;
    padding:4px;
    right: 12%;
    border: 1px solid #ddd;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius:12px;
    box-shadow: 0px 0px 8px #333;
    -moz-box-shadow: 0px 0px 8px #333;
    -webkit-box-shadow: 0px 0px 8px #333;
}

#closeButton{
    font: 13px/20px sans-serif;
    color: red;
    outline:none;
    float: right;
    margin:2px;
    background: url(images/close_button.gif) no-repeat center;
    display:block;
    height:24px;
    width:24px;
}

#paneTitle{
    color: #333333;
    font-size: 14px;
    text-shadow: 1px 1px 0 #EEEEEE;
}

a,input,a:focus,input:focus{
    outline: none;
}

/* google search styles */

.displayed, .gs-imageResult .gs-text-box .gs-visibleUrl .links{
    display: block;
}

.gcsc-branding, .notDisplayed, .gsc-result-info, .gs-blogResult .gs-publishedDate,.gs-newsResult .gs-publishedDate{
    display: none;
}

.gs-relativePublishedDate, .gs-publisher{
    color: #6F6F6F;
    display:inline;
}


.gs-publishedDate span {
    display : inline;
    list-style-type : none;
    padding : 0px 10px;
}

.gsc-search-box{display:none;}
.gsc-resultsHeader{display:none;}
.gs-watermark{display:none;}
.gsc-tabHeader{display:none;}
.gsc-trailing-more-results{display:none; }


.gsc-cursor {
    display:none;}

.gs-visibleUrl {color:#008000;display:inline;margin-right:10px;}
.gs-visibleUrl-short{display:none;}
.gs-title{display: list-item;
          overflow: hidden;}
.gs-snippet{display: list-item; color: #333;}
.gsc-adBlockNoHeight{display:none;}

.gsc-control div {
    position: static;
}

.search_holder{
    margin-top:15px;
    margin-bottom:10px;
    font-family: Arial, sans-serif;
    font-size : 13px;
    list-style:none;
}

.gsc-result {
    background-color:#f8f8f8;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right:15px;
    border: #ccc solid thin;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:8px;

}

.gsc-result .gs-title {
    height: 1.4em;
    overflow: hidden;
}

img.gs-image {
    border : 0px;
    margin-right: 12px;
    float:left;
    display:inline;

}

.gsc-imageResult .gsc-result{
    padding-bottom:90px;
}

.gsc-cursor-box{ float:right;
                 margin-right:20px;
                 margin-bottom:20px;}


.gsc-imageResult .gs-text-box{
    position:absolute;
    margin-left:140px;
}



div.gs-action {
    display: inline;
    margin-right: 0.6em;

}

div.gs-actions {
    margin-bottom: 50px;
}

div.gs-action a.gs-action {
    color: #7777CC;
}

.gs-publishedDate {
    color: #6f6f6f;
}

.gs-videoResult .gs-publisher {
    color: #008000;
    text-decoration: none;
}



.gsc-webResult {
    zoom: 1;
}

.gs-clusterUrl{
    display:inline;
    margin-right: 10px;
}

/* custom */

.selectedFilter{
    text-align:right;
    border-right: 1px solid #ffffff!important;
    border-left: 1px solid #cccccc;
}

#filters{
    color: #09C;
    font-family:Arial, Helvetica, sans-serif; font-size:12px;
    padding-left:34px;
width: 187px;

}
#filters ul li{
     border-right:1px solid #cccccc;
}

#filters ul li:first-child{
    border-top:1px solid #cccccc;
}

#filters ul li.none{
    border-top:none;
}

#share{
    width:145px;
    height:230px;
    cursor:pointer;
}
#brand,#links{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #666;}

#shareSearchBox{
}

#shareTitle{
    color: #09C; background:url(share.gif) no-repeat left;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif; font-size:12px;
    z-index: -1; padding-left:30px;
}

.links span {
    display : inline;
    padding : 0 10px 0 0;
}

.vlinks span {
    color:olive;
    padding : 0px 5px;
}

#menu{
    text-align:center;
    margin : 40px 0 0;
    border-bottom:#999 1px solid;
    padding: 4px;
    clear: both;

}
#menu li{
    display : inline;
    list-style-type : none;
}

#menu a:link{
    background-color: #6F95DF;
    border: #4770BF 1px solid;
    border-bottom:#ccc 1px solid;
    color : white;
    font-family: Lucida Grande,Helvetica,sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    line-height : 16px;
    outline:none;
    padding : 4px 12px;
    text-decoration : none;
    border-bottom:none;
}

#menu a:hover	{
    background-color: #365FAF;
    border-color:#27509F;
    border-bottom:#ccc 1px solid;
}

.sn {
    color : #f00;
}

#menu li a:visited,#menu li.selected a{
    background: #fff;
    color: #333;
    border : 1px solid #999;
    border-bottom:1px solid #fff;
}

#master{
    margin: 0 0 0 220px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header
{
    margin-bottom: 10px;
    text-align: center;
    width:100%;
    padding: 0;
     background-color: #eaeaea;
     top:0;
     position: fixed;
     z-index:100;

}
#top_wrapper{
    margin: 0 auto;
    width: 780px;
    padding-bottom: 10px;
}
#top_wrapper a,#top_wrapper input,#top_wrapper form{
    float: left;
}
#srcdiv form{

    padding: 2px 12px;
    margin: 6px;
    width: 200px;
}

#nav
{
    float: left;
    margin-bottom: 10px;
    width: 221px;
    position: fixed;
}

#content
{
    float:left;
    width: 100%;
}

#footer
{
    clear: both;
    height: 50px;

    margin-bottom: 10px;
}
#nav ul{
    list-style:none;
    margin: 0;
    padding: 0;

}
#nav ul li{
    padding: 2px 4px;
    border-bottom: 1px solid #CCCCCC;
}
#nav ul li a{
    display: block;
    padding: 8px 4px;
    font-size:13px;
    color: #000000;
}
#nav ul li a:hover{
    text-align: right;
}
#nav select{
    margin: 10px 0;
    width: 172px;
    height: 26px;
}
a{
    color:#07287F;
    text-decoration: none;
    outline:none;
}
a img{
    border: none;
    outline: none;
}

#nav li strong{
    color: #333;
    font-size: 1.2em;
    padding: 6px 0;
    display:block;
}
#footer{
    text-align: center;
    clear: both;
    width: 100%;
}
#content_wrapper{
    float:left;
    width:100%;
}
#static-info{
    padding-right: 220px;
    text-align: center;
}
#fluid-container{
    height: auto !important;
    margin-top: 75px;
}
#inner-wrap{
    overflow: auto;
}
#main-container{
    height:100%;
    overflow:hidden;
}
.askwhole-info{
    margin: 0 auto 0 85px;
    width: 700px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

.askwhole-info a img{
    margin: 0px 4px;
    opacity: .8;
    -moz-opacity: .8;
    filter:alpha(opacity=.88);
}
.askwhole-info a img:hover{
opacity: 1;
-moz-opacity: 1;
filter:alpha(opacity=1);
}

#pagination{
    margin:10px auto 40px auto;
    text-align: center;
    padding-right: 220px;
    font-size: 13px;
}
#pagination_info{
    color: #999}

#srch input[type="text"] {
    background: url(images/search-dark.png) no-repeat 10px 6px #eee;
    border: 0 none;
    font: bold 13px Arial,Helvetica,Sans-serif;
    color: #6a6f75  ;
    border: 1px solid #999;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }
    #srch input[type="text"]:focus {
    background: url(images/search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }
span.links a{
    font-size:11px;
}
#result_stat{
    padding: 20px 5px 0px 5px;
    display: block;
    text-align: right;
    height: 30px;
      font-size: 12px;
    color: #333;
}