/* video box */
#paneBackground {
    background-color: #333333;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

#pane {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}

#paneContent{
    margin: 100px auto;
    text-align:center;
    overflow: auto;
    background-color: #CCDDFF;
    border: 1px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#closeButton{
    font: 13px/20px sans-serif;
    text-decoration: none;
    color: red;
    outline:none;
    float: right;
    margin:2px;
    border: 2px solid #AAAAAA;
}

#paneTitle{
    border-bottom :1px solid;
}

/* google search styles */

.displayed, .gs-imageResult .gs-text-box .gs-visibleUrl .links{
    display: block;
}

.gcsc-branding, .notDisplayed, .gsc-result-info, .gs-blogResult .gs-publishedDate,.gs-newsResult .gs-publishedDate{
    display: none;
}

.gs-relativePublishedDate, .gs-publisher{
    color: #6F6F6F;
    display:inline;
}


.gs-publishedDate span {
    display : inline;
    list-style-type : none;
    padding : 0px 10px;
}

.gsc-search-box{display:none;}
.gsc-resultsHeader{display:none;}
.gs-watermark{display:none;}
.gsc-tabHeader{display:none;}
.gsc-trailing-more-results{display:none; }


.gsc-cursor {
    display:none;}

.gs-visibleUrl {color:#008000;display:inline;margin-right:10px;}
.gs-visibleUrl-short{display:none;}
.gs-title{display: list-item;
          overflow: hidden;}
.gs-snippet{display: list-item;}
.gsc-adBlockNoHeight{display:none;}

.gsc-control div {
    position: static;
}

#s2{
    margin-top:20px;
    font-family: Arial, sans-serif;
    font-size : 13px;
    list-style:none;
}

.gsc-result { background-color:#E8EBF0;
              margin-top:10px;
              margin-bottom: 10px;
              margin-left: 15px;
              margin-right:15px;
              border: #ccc solid thin;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              padding:8px;

}

.gsc-result .gs-title {
    height: 1.4em;
    overflow: hidden;
}

img.gs-image {
    border : 0px;
    margin-right: 12px;
    float:left;
    display:inline;

}

.gsc-imageResult .gsc-result{
    padding-bottom:90px;
}

.gsc-cursor-box{ float:right;
                 margin-right:20px;
                 margin-bottom:20px;}


.gsc-imageResult .gs-text-box{
    position:absolute;
    margin-left:140px;
}



div.gs-action {
    display: inline;
    margin-right: 0.6em;

}

div.gs-actions {
    margin-bottom: 50px;
}

div.gs-action a.gs-action {
    color: #7777CC;
}

.gs-publishedDate {
    color: #6f6f6f;
}

.gs-videoResult .gs-publisher {
    color: #008000;
    text-decoration: none;
}



.gsc-webResult {
    zoom: 1;
}

.gs-clusterUrl{
    display:inline;
    margin-right: 10px;
}

/* custom */

.selectedFilter{
    text-align:right;
}

#filters{
    width:145px;
    color: #09C;
    font-family:Arial, Helvetica, sans-serif; font-size:12px;
    z-index: -1;
    padding-left:34px;

}

#share{
   width:145px;
   height:230px;
   cursor:pointer;
}
#brand,#links{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #666;}

#shareSearchBox{
}

#shareTitle{
    color: #09C; background:url(share.gif) no-repeat left;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif; font-size:12px;
    z-index: -1; padding-left:30px;
}

.links span {
    display : inline;
    padding : 0 10px 0 0;
}

.vlinks span {
    color:olive;
    padding : 0px 5px;
}

#menu{
    text-align:center;
    margin : 40px 0 0;
    border-bottom:#ccc 1px solid;
    padding: 4px;
    clear: both;

}
#menu li{
    display : inline;
    list-style-type : none;
}

#menu a:link{
    background-color: #6F95DF;
    border: #4770BF 1px solid;
    border-bottom:#ccc 1px solid;
    color : white;
    font-family: Lucida Grande,Helvetica,sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    line-height : 16px;
    outline:none;
    padding : 4px 12px;
    text-decoration : none;
    border-bottom:none;
}

#menu a:hover	{
    background-color: #365FAF;
    border-color:#27509F;
    border-bottom:#ccc 1px solid;
}

.sn {
    color : #f00;
}

#menu li a:visited,#menu li.selected a{
    background: #fff;
    color: #333;
    border : 1px solid #ccc;
    border-bottom:1px solid #fff;
}

#s1{
     position:relative;
     float:left;
     margin-top:0px;
}

#s2{
    margin-bottom:10px;
    }
#no{
    float: left;
    margin: 10px;
}
#master{
   margin: 0 0 0 200px;
}
body:before {
      content: "";
      float: left;
      height: 100%;
      margin-top: -32767px;
      width: 0;
  }
  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Arial;
  }
  header
  {
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    width:100%;
     padding: 20px 0;
  }
  #top_wrapper{
    margin: 0 auto;
    width: 680px;
  }
  #top_wrapper a,#top_wrapper input,#top_wrapper form{
    float: left;
  }
  #srcdiv form{

    padding: 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 0 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px #EEEEEE inset, 0 0 1px #333333;
  }
  #srcdiv form .search-field{
    font-size: 1.2em;
    width: 350px;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
    background: linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
    text-shadow: 0 1px 0 rgba(255,255,255,0.8) !important;
    -moz-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
    box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);

  }
  #srcdiv form .search-field:hover{
    background-color: #f9f9f9;
    border: 1px solid #777;
  }
  #srcdiv form .search-field:focus{
    background-color: #fefefe;
    border: 1px solid #666;
  }
  #sm{
    text-shadow: 1px 1px 1px #333333;
    font-weight:bold;
    margin: 0 4px;
    padding: 7px 10px;
    height: 33px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom-color: rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
    box-shadow: inset 0 0.0625em 0 rgba(255,255,255,0.4), inset 0 0 0.0625em rgba(255,255,255,0.6), 0 0.0625em 0 rgba(255,255,255,0.3);
    color: #fff !important;
    cursor: pointer;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.1)), color-stop(49%, rgba(255,255,255,0.05)), color-stop(51%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.1)));
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
    background: linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
    background: none repeat scroll 0 0 #2954A9;
  }
  #sm:hover{
    background:#222;
  }
  #nav
  {
    float: left;
    margin-bottom: 10px;
    width: 220px;
  }

  #content
  {
    float:left;
    width: 100%;
  }

  #footer
  {
    clear: both;
    height: 50px;

    margin-bottom: 10px;
  }
  #nav ul{
    list-style:none;
    margin: 0;
    padding: 0;

  }
  #nav ul li{
    padding: 2px 4px;
    border-bottom: 1px solid #CCCCCC;
  }
  #nav ul li a{
    display: block;
    padding: 8px 4px;
    font-size:1.2em;
  }
  #nav ul li a:hover{
    text-align: right;
  }
  #nav select{
    margin:4px 0px;
  }
  a{
    color:#07287F;
    text-decoration: none;
    outline:none;
  }
  a img{
    border: none;
    outline: none;
  }
  h1.styled{
    color:#999;
    text-align: center;
    font-size:1.4em;
    text-shadow: 1px 1px 0 #F2F2F2, 1px 2px 0 #B1B1B2;
    font-family:Arial;
    font-weight:bold;
  }

  #nav li strong{
    text-shadow: 1px 1px 0 #F2F2F2, 1px 2px 0 #B1B1B2;
    color: #333;
    font-size: 1.2em;
    padding: 6px 0;
    display:block;
  }
  #footer{
    text-align: center;
    clear: both;
    width: 100%;
  }
  #content_wrapper{
    float:left;
    width:100%;
  }
  #static-info{
    padding-right: 220px;
       text-align: center;
  }
  #fluid-container{
    height: auto !important;
  }
  #inner-wrap{
    overflow: auto;
  }
  #main-container{
    height:100%;
    overflow:hidden;
  }
  .askwhole-info{
    text-align:center;
    margin:0 auto 10px auto;
  }
  .askwhole-info tr td a,.askwhole-info tr td span{
  float: left;
  color: #999
  }
  .askwhole-info a:hover span,.askwhole-info a:hover img{
  color:#666;
  opacity:1;
  }
  .askwhole-info tr td span{
  font-size: 14px;
    padding: 4px 4px;
  }
  .askwhole-info td{
  padding: 2px 8px;
  }
    .askwhole-info td:first-child{
   border-right: 1px solid #ccc
    }
     .askwhole-info td:last-child{
   border-left: 1px solid #ccc
    }
  .askwhole-info tr td a img{
  float: left;
  opacity:.8;
  margin: 0px 2px;
  }
  .askwhole-info tr th{
  color: #999
  }
  #pagination{
  margin:10px auto 40px auto;
  }
  #pagination_info{
  color: #999}

